body {
    background-color: #f64;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    color: #222;
    text-transform: uppercase;
}

#buttons {
    margin: auto;
    text-align: center;
}

button {
    margin: 15px;
    height: 30px;
    width: 60px;
    font-size: 14px;
    border: none;
    background-color: #eee;
    color: #111;
}

button:hover {
    background-color: #223;
    color: #eee;
}

#board {
    width: 960px;
    height: 960px;
    border: 1px solid #223;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.pixel {
    background-color: #eee;
}

.etched {
    background-color: #223;
}
