body {
    background-color: #f64;
}

#board {
    width: 960px;
    height: 960px;
    border: 1px solid #111;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.pixel {
    background-color: #eee;
}